body {
  background-color: rgb(232, 232, 232);
}
.container {
  display: flex;
  gap: 10px;
}
.img-container {
  border-radius: 50%;
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}
header,
aside {
  flex: 1;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
main {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
}
section {
  background-color: rgb(247, 247, 247);
  padding: 10px 10px;
  border-radius: 10px;
}
aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
ul {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
