* {
  box-sizing: border-box;
}

body {
  background-color: #dfe3ee;
  color: #242526;
  font-family: system-ui, sans-serif;
}
/*Layout*/
/**********************************************************/

.container {
  display: flex;
  gap: 10px;
}
header,
main,
aside {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
header,
aside {
  flex: 1;
}
header {
  align-items: center;
}
main {
  flex: 3;
  justify-content: flex-start;
  gap: 10px;
}
.friends ul {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/**********************************************************/
.card,
section {
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section {
  background-color: #ffffff;
}

ul {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
li {
  border-bottom: 1px solid #ccc;
}
li {
  cursor: pointer;
  padding: 15px 10px;
}
ul li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #e4e4e4;
}
/**********************************************************/

h1 {
  font-size: 1.4rem;
  margin: 0;
  color: #1a233d;
}
h3 {
  color: #333742;
}
p {
  color: #464646;
  margin: 0;
  margin-top: 10px;
}

/*Images*/
/**********************************************************/

.img-container {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img-container img {
  width: 100%;
  object-fit: cover;
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.pokemon-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*Header*/
/**********************************************************/

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
/*Menu*/
/**********************************************************/

.menu-wrapper {
  position: relative;
  width: 100%;
}

.menu {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*friends*/
/**********************************************************/

/*pokemon*/
/**********************************************************/

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pokemon-text {
  display: flex;
  flex-direction: column;
}
/*Buttons*/
/**********************************************************/
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
button {
  border: none;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 25px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
button:hover {
  background-color: #1d2f56;
}
/**********************************************************/

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  color: red;
}

.hidden {
  display: none;
}
