* {
  box-sizing: border-box;
}

body {
  background-color: #dfe3ee;
  color: #242526;
}
.container {
  display: flex;
  gap: 10px;
}
h1 {
  font-size: 1.4rem;
  margin: 0;
  color: #1a233d;
}
p {
  color: #464646;
  margin: 0;
  margin-top: 10px;
}
.img-container {
  border-radius: 50%;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
}
.img-container img {
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}
header,
aside {
  flex: 1;
  border-radius: 10px;
}
aside {
  background-color: #ffffff;
}
main {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
}
section {
  background-color: #ffffff;
  padding: 15px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
ul {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pokemon-text {
  display: flex;
  flex-direction: column;
}

.pokemon .img-container {
  width: 15%;
}

button {
  border: none;
  background-color: #3b5998;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 25px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
button:hover {
  background-color: #1d2f56;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  color: red;
}

.hidden {
  display: none;
}
.menu-wrapper {
  position: relative;
  width: 100%;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.menu {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu li {
  cursor: pointer;
  padding: 15px 10px;
}

.menu li:hover {
  background-color: #e4e4e4;
}
