body {
  background-color: #dfe3ee;
  color: #242526;
}
.container {
  display: flex;
  gap: 10px;
}
.img-container {
  border-radius: 50%;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
}
.img-container img {
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}
header,
aside {
  flex: 1;
  border-radius: 10px;
}
aside {
  background-color: #ffffff;
}
main {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
}
section {
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 10px;
}
aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
ul {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pokemon .img-container {
  width: 15%;
}
